@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Cinzel+Decorative:wght@700&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/img/wireSettings.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}
.content-padre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content-hijo{
    height: 40vh;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item img{
  width: 2rem;
  margin-left: 10px;
}
.title{
    font-family: 'Cinzel Decorative', serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: #FFD700;
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.5),
                0 0 40px rgba(255, 255, 255, 0.3);
    font-size: 4rem;
    line-height: 1.1;
    margin: 40px 0;
    padding-left: 15px;
    text-align: center;
}
.text{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 4px; /* separa las letras horizontalmente */
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: block;
    margin: 20px 0;
    transition: color 0.3s ease;
    font-size: 1.5rem;
}
a{
    color: white;
    text-decoration: none; 
}
a:hover {
  color: #9d6bff; 
}

a.level-button {
    position: relative;
    font-size: 3vw;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.3s ease;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 10px;
}

a.level-button:hover {
    transform: scale(1.1);
    color: var(--hover-color); /* Color violeta en hover */
}

.back-button {
    position: absolute;
    top: 3vh;
    left: 3vw;
    font-size: 3vw; 
    color: var(--text-color);
    text-decoration: none;
    z-index: 20;
    cursor: pointer;
    background-color: #000000; /* Fondo café */
    padding: 8px 20px;
    border-radius: 8px;
    transition: transform 0.2s ease, color 0.3s ease, background-color 0.3s ease;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.back-button:hover {
    transform: scale(1.1);
    color: var(--hover-color); /* Color violeta en hover */
    background-color: #5e00c9; /* Fondo café más claro en hover */
}
